header {
  background-color: gainsboro;
  width: 100%;
  height: auto;
  align-self: start;
}

header {
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 75px;
  margin-right: 10px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
li {
  list-style-type: none;
}
nav a {
  font-weight: 600;
  padding: 10px;
  font-size: 22px;
}
.container-img {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  /*grid-gap 20px;*/
}
.container-img .box-img figure {
  width: 100%;
  height: 100%;
}
.container-img .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-img .box-img:nth-child(1) {
  grid-column-start: span 2;
}
.container-img .box-img:nth-child(4) {
  grid-column-start: span 2;
}
@media screen and (max-width: 700px) {
  .container-img {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
footer > p {
  background-color: gainsboro;
  font-size: medium;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 10px 0px;
  }
}
